.quizResultContainer {
  text-align: center;
}

.questionResult {
  border-radius: 5px;
  padding: 16px 32px;
  margin-bottom: 8px;
  color: rgb(62, 62, 62);
  text-align: left;
}

.correctAnswer {
  background-color: #C1E1C1;
}

.wrongAnswer {
  background-color: #FAA0A0;
}

.btn-add {
  text-align: center;
}