.questionContainer {
  background: #e8dff5;
  background: -webkit-linear-gradient(90deg, #e8dff5, #9e90b6);
  background: linear-gradient(90deg, #e8dff5, #9e90b6);
  margin-top: 32px;
  margin-bottom: 32px;
}

.btn-answer {
  width: 30%;
  padding: 32px !important;
}

.answers div {
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.button-div {
  text-align: right;
}

@media (max-width: 768px) {
  .btn-answer {
    width: 100%;
  }
}