.mainContainer p {
  text-align: center;
  padding: 16px;
  font-size: x-large;
  font-weight: bold;
  color: black;
}

.mainButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 50px auto;
  max-width: 300px;
  width: 100%;
  font-size: xx-large;
  font-weight: bold;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  
}
.mainButton:hover {
  cursor: pointer;
}

.word {
  background: #ffe5ec;
  background: -webkit-linear-gradient(90deg, #ffe5ec, #c1d3fe);
  background: linear-gradient(90deg, #ffe5ec, #c1d3fe);
}

.quiz {
  background: #e8dff5;
  background: -webkit-linear-gradient(90deg, #e8dff5, #9e90b6);
  background: linear-gradient(90deg, #e8dff5, #9e90b6);
}