.authContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.authContainer form {
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  background: #f6f7fc;
  border-radius: 8px;
}

.formContainer{
  display: flex;
  flex-direction: column;
}

.formContainer h1{
 text-align: center;
 padding: 20px;
}

.formContainer p {
  margin-top: 16px;
}

.authLogo {
  font-size: 60px;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #f6f7fc;
  margin: 0 auto;
}

.link-auth {
  margin-left: 16px;
}