.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #FFDFBA;
  background: -webkit-linear-gradient(90deg, #FFDFD3, #FFDFBA);
  background: linear-gradient(90deg, #FFDFD3, #FFDFBA);
}

.loginContainer form {
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 16px 32px;

}

.formContainer{
  display: flex;
  flex-direction: column;
}

.btn-login {
  background-color: black;
}

.btn-login:hover {
  background-color: white;
}