.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff !important;
 
}

.navbar {
  background-color: #131618 !important;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.28);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.28);
  margin-bottom: 32px;
}